
            #textoPrincipal {
                font-size: 40px;
                font-weight: bold;
                background-color: rgb(140, 0, 255);
                color: rgb(0, 255, 21);
                padding: 10px;
                margin-bottom: 150px;
            }